<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">
	<targets>

		<target xsi:type="File" name="logfile"
            fileName="/var/log/netcore/service_eBike_Pruefstand_${date:format=yy-MM-dd}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="true"
            layout="${date:format=dd.MM.yy HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true:padding=-5} ${logger:shortName=false} - ${message}"
            header="${processname}_Service_eBike_Pruefstand v.${assembly-version} started on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}. User: ${identity}"
            footer="${processname}_Service_eBike_Pruefstand v.${assembly-version} stopped on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}. User: ${identity}"/>
	
		<!--<target name="csvfile" xsi:type="File" fileName="/home/pi/netcore/file.csv">
			<layout xsi:type="CSVLayout">
				<column name="time" layout="${longdate}" />
				<column name="message" layout="${message}" />
				<column name="logger" layout="${logger}"/>
				<column name="level" layout="${level}"/>
			</layout>
		</target>-->
	</targets>

	<rules>
		<!--<logger name="DataLogger" minlevel="Trace" writeTo="csvfile" />-->
		<logger name="Service_eBike_Pruefstand.*" minlevel="Trace" writeTo="logfile" final="true" />
	</rules>
	
</nlog>